//
//  Secrets.xcconfig
//  CardioThoraxia
//
//  Created by Edward Bender on 2/11/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

PARSE_APP_ID = KidkJJEEqoPfpBPyDFixqQEo1zrfE02Z7A6WGSEH
PARSE_CLIENT_KEY = 36o0odr4dmFc3DTtuGjmNc4GrHrzC4FjxSHb8zro
PARSE_SERVER_URL = https://parseapi.back4app.com
