//
//  Secrets.xcconfig
//  OrthoSurgica
//
//  Created by Edward Bender on 2/11/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
SLASH = /

PARSE_APP_ID = MF3C2z0oLZK2ehtNCuvTBPNGl3mLhXF5bcttNKo5
PARSE_CLIENT_KEY = oxlpVHdDkyTa4q5q5d1gC7Jsnsw7n2ez1DV7mHtS
PARSE_SERVER_URL = https:$(SLASH)$(SLASH)parseapi.back4app.com
